:not(:root):fullscreen::backdrop {
  background: white; /* Ensures the Player's Fullscreen mode has a white background */
}

.player-el {
  height: 500px; /* player-el must have a discretely defined height (e.g. px, vh, etc.) */
}

.app {
  --side-padding: 10%;
  --logo-padding: 10px;
  --logo-width: 200px;
}
.app .app--main .app--player{
  width: 50wv;
}

@media (max-width: 600px) {
  .app {
    --side-padding: 5%;
    --logo-padding: 10px;
    --logo-width: 100px;
  }
}
